[project]
	description = our first project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mandy (mandyGao)
[access "refs/for/refs/*"]
	read = group user/mandy (mandyGao)
	push = group user/mandy (mandyGao)
	label-Code-Review = -2..+2 group user/mandy (mandyGao)
	label-Verified = -1..+1 group user/mandy (mandyGao)
	rebase = group user/mandy (mandyGao)
	removeReviewer = group user/mandy (mandyGao)
	submit = group user/mandy (mandyGao)
[access "refs/heads/*"]
	read = group user/mandy (mandyGao)
	create = group user/mandy (mandyGao)
	push = +force group user/mandy (mandyGao)
	pushMerge = group user/mandy (mandyGao)
[access "refs/tags/*"]
	push = +force group user/mandy (mandyGao)
	pushTag = group user/mandy (mandyGao)
	pushSignedTag = group user/mandy (mandyGao)
